.first{
    margin: 0 auto;
    line-height: 45px;
    background-image: url(./img/main.webp);
    color: white;
    opacity: 0.7;

}
.second{
    margin: 0 auto;
    line-height: 35px;
    background-image: url(./img/second.avif);
    color: white;
}
* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    display: inline-block;
}

/* ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
} */

.conteiner {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

body {
    font-family: 'PT Serif', serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #5e5e5e;
}

.header__top {
    background-color: #303030;
}

.image__logo {
    height: 70px;
    width: 145px;
}

.header {
    font-family: 'Roboto', sans-serif;
}

.header__btn {
    float: right;
    line-height: 36px;
    color: #1b1b1b;
    background-color: yellowgreen;
    padding: 5px 20px 4px 50px;
    font-size: 16px;
}

.header__btn:before {
    font-family: 'icomoon';
    
    position: absolute;
    left: 22;
    color: #1b1b1b;
    position: relative;
    padding-right: 15px;
}

.header__contact:after {
    content: "";
    clear: both;
    display: block;
}

.header__phone,
.header__email {
    color: yellowgreen;
    font-size: 14px;
    letter-spacing: 0.25px;
    line-height: 45px;
    position: relative;
}

.header__phone {
    padding-left: 20px;
    padding-right: 30px;
}

.header__phone:before {
    font-family: 'icomoon';
    
    position: absolute;
    left: 0;
    
}

.header__email {
    padding-left: 24px;
}

.header__email:before {
    font-family: 'icomoon';
    
    position: absolute;
    left: 0;
    
}

.header__content {
    padding: 34px 0px 23px;
    background-image: url(./img/header.webp);
    background-size:contain;
}

.header__content-inner {
    display: flex;
    justify-content: space-between;
}
.menu li {
    display: inline-block;
    
}

.menu a {
    color: black;
    font-size: 16px;
    line-height: 36px;
    border: 1px solid transparent;
    padding: 0px 16px;
    transition: all .3s;
    margin-top: 10px;
    background-color: yellowgreen;
}

.menu a:hover {
    border-color: yellowgreen;
}

.menu li+li {
    padding-left: 10px;
}

.header__btn-menu {
    margin-top: 17px;
}
.table{
    margin: 10px 500px;
    color: black;
}
.kind_of_dance{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  color:#1b1b1b;
}
.table-img{
    display: inline-block;
    margin: 0 9px;
}
.head{
    border: 3px dashed purple;
}
.song{
    border: 3px solid purple;
}
.line{
    border: 3px dotted purple;
}
.visit{
    border: 3px double purple;
}
.groove{
    border: 3px groove purple;
}
.ridge{
    border: 3px ridge purple;
}
.inset{
    border:3px inset purple;
}
.outset{
    border:3px outset purple;
}
.first_p{
background-color: #fd8407;
color: aliceblue;
}
.second_p{
background-color: aqua;
color: #1b1b1b;
}
.third_p{
background-color: rgb(52, 7, 253);
color: aliceblue;
}
.fourth_p{
background-color: rgb(253, 7, 204);
color: #1b1b1b;
}
h1 {
    text-align: center;
  }
  /* используем псевдокласс :is()  */
  article:is(.bg) h2, article:is(.bg) p {
    color: #fff;
  }
  .bg {
    background: url(https://source.unsplash.com/x-XwnC7FgFM/1600x700) no-repeat center/cover gray;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  /* без селектора :is() */
  article {
    color: #666;
    padding: 20px 5%;
  }
  p::before {
    content: "❤️ ";
  }
  
  p::after {
    content: " ❤️";
  }
  .form-section {
    padding: 0 calc(50% - 370px);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    width: 50%;
}

.form-img {
    margin-top: 174px;
    position: relative;
    top: 0;
    left: 0;
    margin-bottom: 120px;
}

.form-main {
    z-index: 100;
    margin-right: 30px;
    position: relative;
    top: 0;
    left: 0;
}

.form-back {
    z-index: 1;
    position: absolute;
    bottom: 50px;
    right: 330px;
}

.form {
    display: flex;
    flex-direction: column;
    margin-top: 120px;
}

.form h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 157%;
    margin: 0 20px;
}

.help {
    color: #000;
    font-family: 'Lato', 'sen-serif';
    font-weight: 500;
    font-size: 24px;
    line-height: 157%;

}

fieldset {
    padding: 15px;
    border: 1px solid #000000;
    border-radius: 4px;
    background-color: #FFFFFF;
    margin-bottom: 30px;
    position: relative;
}

.row {
    margin-bottom: 20px;
}

.select {
    background-color: #FFFFFF;
    margin-bottom: 10px;
}

.select li a {
    text-decoration: none;
    color: #2d2f31;
}

#cb1,
#cb2,
#cb3 {
    accent-color: #150433;
}

#rb1,
#rb2,
#rb3 {
    accent-color: #150433;
}

input {
    outline: none;
}
.checkbox{
    display: inline;
}
.slide li:last-child {
    margin-right: 0;
}

.slide li:first-child {
    margin-left: 0;
}

.slide {
    clear: both;
    width: 100%;
    height: 0px;
    overflow: hidden;
    text-align: start;
    transition: height .4s ease;
}

#touch {
    position: absolute;
    opacity: 0;
    height: 0px;
    border: none;
}

#touch:checked+.slide {
    height: 340px;
}

input:checked {
    background-color: #150433;
}

textarea {
    padding: 15px 30px;
    height: 122px;
    width: 83%;
    resize: none;
}

#name,
#phone,
#email {
    position: absolute;
    top: 0px;
}

.has-error {
    color: #F61067;
    position: absolute;
    top: 30px;
}

.has-error::after {
    content: url("https://img.icons8.com/color/20/26e07f/delete-sign--v1.png");
    position: absolute;
    right: -70px;
    top: -35px;
}

label#name-error.has-error::after {
    position: absolute;
    right: -170px;
}



.has-success {
    display: block;
    color: green;
    position:absolute;
    margin-left: 45vw;
    margin-top: -61px;
    z-index: 100;

}
fieldset{
    z-index: 1;
}

.done {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 30px;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1050;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modal.show {
    opacity: 1;
    pointer-events: auto;
    overflow-y: auto;
}

.modal-dialog {
    position: relative;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    margin-bottom: 150px;
    
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    outline: 0;
    margin-top: 200px;
    width: 700px;
    height: 334px;
    
}

.small-text{
    font-family: 'Lato', 'sen-serif';
    font-weight: 400;
    font-size: 16px;
    line-height: 36px;
}
.modal-title {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 50px;
}

.close {
    float: right;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    text-decoration: none;
}

.close:focus,
.close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: .75;
}

.modal-body {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding:15px;
    overflow: auto;
     margin: 0  50px;
    text-align: center;
    
}
.form-control{
    width: 90%;
}